.step {
    display: none;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.step.active {
    display: block;
    opacity: 1;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
}

.fase-item, .girone-item {
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

input.form-control::placeholder {
    color: #888;
    font-style: italic;
}
.modal-header .btn-close {
    filter: brightness(0) saturate(100%) invert(84%) sepia(62%) saturate(746%) hue-rotate(4deg) brightness(105%) contrast(101%);
}

/* 🔥 Fix visivo forte per input con Bootstrap */
input.form-control.input-error,
select.form-select.input-error {
  border: 2px solid #e74c3c;
  color: #fff;
}

.form-group {
  width: 100%;
}

.form-group input,
.form-group select {
  width: 100%;
  display: block;
}

.flatpickr-wrapper {
  width: 100%;
}

.flatpickr-wrapper input {
  width: 100%;
}
